<%- include('../includes/general/head.ejs') %>
    <link rel="stylesheet" href="/css/general.css" />
  </head>
  <body>
    <!-- <div class="jumbotron text-center" style="margin-bottom: 0">
      <h1>PIC2MODEL</h1>
      <p>Get 3D models of your favorite flat images become easy!</p>
    </div> -->

    <%- include('../includes/general/navbar.ejs') %>

    <!-- Content here -->
    <main role="main" style="margin-top: 6rem; margin-bottom: 2rem">


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4 d-flex flex-column align-items-center">
            <img class="rounded-circle" src="/images/webpage/pete.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h2>Peter Griffin</h2>
            <p>Well, would ya look at that! I had no idea it could be this easy to turn my photos into 3D objects. But now I do, and let me tell ya, I’m hooked! This is gonna make my designer life way easier. A big thanks to ya—this is a game changer!</p>
          </div>
          <div class="col-lg-4 d-flex flex-column align-items-center">
            <img class="rounded-circle" src="/images/webpage/stewie.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Stewie Griffin</h2>
            <p>Ah, brilliant! Turning my 2D masterpieces into 3D wonders? Finally, a tool worthy of my genius. I must say, it’s about time someone catered to my level of intellect. This makes conquering the design world a delightful breeze. Cheers to me for discovering this gem!</p>
          </div>
          <div class="col-lg-4 d-flex flex-column align-items-center">
            <img class="rounded-circle" src="/images/webpage/brian.webp" alt="Generic placeholder image" width="140" height="140">
            <h2>Brian Griffin</h2>
            <p>Alright, I’ll admit it—this caught me off guard. As a writer, I’m more of a wordsmith, but even I can’t deny how cool this is. The process is smooth, the results are impressive, and it’s oddly addictive. Looks like I’ve found my new creative outlet. Well done, team!</p>
          </div>
        </div><!-- /.row -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider mb-4">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Just insert your image. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">No complicated steps, no hassle. Just upload your picture, and watch as it magically transforms into a stunning 3D object. You won’t believe it! Whether you’re a designer, artist, or just someone who loves cool tech, this is for you. Prepared to be amazed!</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto w-100" data-src="/images/webpage/abxt.jpg" src="/images/webpage/abxt-lazy.jpg" alt="feature image 1">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Don’t just take our word for it—see for yourself! This isn’t some gimmick. Once you try it, you’ll be fascinated. Go ahead, dive in and witness the magic firsthand. You won’t regret it!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto w-100" data-src="/images/webpage/abx.jpg" src="/images/webpage/abx-lazy.jpg" alt="feature image 2">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Your creations, truly yours. <span class="text-muted">Carefully stored.</span></h2>
            <p class="lead">Revisit your amazing works, anytime and anywhere. We've got them stored safely in a beautifully decorated album, just for you. Ready to start? <a href="/signup">Join now!</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto w-100" data-src="/images/webpage/abstract.jpg" src="/images/webpage/abstract-lazy.jpg" alt="feature image 3">
          </div>
        </div>
      </div><!-- /.container -->
    </main>
    
    <%- include('../includes/general/footer.ejs') %>
    <script>
      function lazyLoadImages(selector, options = { threshold: 0.5 }) {
        const images = document.querySelectorAll(`${selector}[data-src]`);
      
        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              const img = entry.target;
              img.src = img.dataset.src;
              observer.unobserve(img);
            }
          });
        }, options);
      
        images.forEach(image => {
          observer.observe(image);
        });
      }
      document.addEventListener('DOMContentLoaded', () => {
        lazyLoadImages('.featurette-image', { threshold: 0.7 });
      });
    </script>
  </body>
</html>
