<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">PIC2MODEL</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <% if (isAuthenticated) { %>
      <li class="nav-item <%= path === '/generate' ? 'active' : '' %>">
        <a class="nav-link" href="/generate">START GENERATING</a>
      </li>
      <% } %>
      <li class="nav-item <%= path === '/features' ? 'active' : '' %>">
        <a class="nav-link" href="/features">FEATURES</a>
      </li>
      <li class="nav-item <%= path === '/testimonials' ? 'active' : '' %>">
        <a class="nav-link" href="/testimonials">TESTIMONIALS</a>
      </li>
      <li class="nav-item <%= path === '/about-us' ? 'active' : '' %>">
        <a class="nav-link" href="/about-us">ABOUT US</a>
      </li>
      <% if (!isAuthenticated) { %>
      <li class="nav-item">
        <a class="nav-link" href="/login">JOIN NOW</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <form action="/logout" method="POST" id="logout-form">
          <button
            class="nav-link"
            style="border: none; background: none"
            type="submit"
          >
            LOG OUT
          </button>
        </form>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
