<%- include('../includes/general/head.ejs') %>
    <link rel="stylesheet" href="/css/general.css" />
  </head>
  <body>
    <!-- <div class="jumbotron text-center" style="margin-bottom: 0">
      <h1>PIC2MODEL</h1>
      <p>Get 3D models of your favorite flat images become easy!</p>
    </div> -->

    <%- include('../includes/general/navbar.ejs') %>

    <main role="main" style="margin-top: 3rem">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Sample Album</h1>
          <p class="lead text-muted">Many users have enjoyed exploring our website—here are some amazing 3D objects they’ve created!</p>
          <p>
            <a href="/" class="btn btn-secondary my-2">Return to main</a>
            <a href="/signup" class="btn btn-primary my-2">Sign up now</a>
          </p>
        </div>
      </section>

      <div class="album py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;" src="https://ashawkey-lgm.hf.space/file=/tmp/gradio/c36b5591a31192a22cc690444fcdcdc96d705325/image.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">A cute flat image of a teddy bear, now transformed into a 3D object that can be viewed from four distinct angles.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">Created by Pic2Model</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;" src="https://ashawkey-lgm.hf.space/file=/tmp/gradio/c36b5591a31192a22cc690444fcdcdc96d705325/image.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">A cute flat image of a teddy bear, now transformed into a 3D object that can be viewed from four distinct angles.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">Created by Pic2Model</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;" src="https://ashawkey-lgm.hf.space/file=/tmp/gradio/c36b5591a31192a22cc690444fcdcdc96d705325/image.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">A cute flat image of a teddy bear, now transformed into a 3D object that can be viewed from four distinct angles.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">Created by Pic2Model</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;" src="https://ashawkey-lgm.hf.space/file=/tmp/gradio/c36b5591a31192a22cc690444fcdcdc96d705325/image.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">A cute flat image of a teddy bear, now transformed into a 3D object that can be viewed from four distinct angles.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">Created by Pic2Model</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    
  <%- include('../includes/general/footer.ejs') %>
  </body>
</html>
