<footer class="footer bg-light mt-auto py-4">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>HCMUS &copy; 2024. No Rights Reserved.</span>
    </div>
  </div>
</footer>
