<%- include('../includes/general/head.ejs') %>
</head>
  <body>
    <%- include('../includes/general/navbar.ejs') %>
    
    <section class="container mt-5 py-5 d-flex align-items-center justify-content-center">
      <div class="card position-relative" style="width: 24rem;">
        <form class="p-3" action="/user/giftcode" method="POST">
          <div class="form-group">
            <label for="name">Giftcode</label>
            <input id="giftcode" type="text" class="form-control <%= validationErrors.find(e => e.path === 'giftcode') ? 'is-invalid' : '' %>" name="giftcode" placeholder="Enter a giftcode">
            <small id="giftcodeHelp" class="form-text text-muted"><%= errorMessage ? errorMessage : '' %></small>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
      </div>
    </section>

    <script src="/scripts/user/giftcode.js"></script>
  </body>
</html>
