<%- include('../includes/home/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- <div class="jumbotron text-center" style="margin-bottom: 0">
      <h1>PIC2MODEL</h1>
      <p>Get 3D models of your favorite flat images become easy!</p>
    </div> -->

    <%- include('../includes/home/navbar.ejs') %>

    <!-- Content here -->

    
<%- include('../includes/home/end.ejs') %>
